appdirs==1.4.4
asgiref==3.5.0
attrs==19.3.0
backports.zoneinfo==0.2.1
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
charset-normalizer==2.0.10
defusedxml==0.6.0
Deprecated==1.2.13
Django==4.0
django-extensions==3.1.5
django-multiupload==0.6.1
django-redis==5.2.0
django-user-agents==0.4.0
django-utils-six==2.0
idna==2.9
idpay==0.0.1
isodate==0.6.0
lxml==4.6.5
packaging==21.3
Pillow==8.4.0
platformdirs==2.4.1
psycopg2-binary==2.9.2
pycryptodome==3.12.0
pydot==1.4.2
pyparsing==3.0.6
python-decouple==3.1
python-dotenv==0.19.2
pytz==2020.1
PyYAML==6.0
redis==4.1.0
requests==2.23.0
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.1
ua-parser==0.10.0
urllib3==1.26.5
user-agents==2.2.0
wrapt==1.13.3
zeep==4.1.0
