
{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> ثبت محصول جدید </h1>
{% endblock %}

{% block result_list %}
<div class = "login">  
  
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}  
      
    <h1>ثبت محصول جدید</h1>  
  
    <form method="post" enctype="multipart/form-data">
             {% csrf_token %}  
             <table>  
                {{ form.as_table }}  
                 <tr>  
                    <td></td>  
                    <td><input type="submit" name="submit" value="ثبت" /></td>  
                </tr>  
             </table>  
         </form>  
     </div>  
  


{% endblock %}

{% block pagination %}{% endblock %}