{% extends "base.html" %}

{% block content %}

        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb bb-no">
                        <li><a href="demo1.html">صفحه اصلی </a></li>
                        <li>ارور 404</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of Page Content -->
            <div class="page-content error-404">
                <div class="container">
                    <div class="banner">
                        <figure>
                            <img src="{% static 'assets/images/pages/404.png' %}" alt="ارور 404"  
                                width="820" height="460" />
                        </figure>
                        <div class="banner-content text-center">
                            <h2 class="banner-title">
                                <span class="text-secondary">اوپس!!!</span> خطایی در سایت رخ داد!
                            </h2>
                            <p class="text-light">ممکن است در نشانی اینترنتی وارد شده غلط املایی وجود داشته باشد یا صفحه مورد نظر شما دیگر وجود نداشته باشد</p>
                            <a href="#" class="btn btn-dark btn-rounded btn-icon-right">برگشت به صفحه اصلی<i class="w-icon-long-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </main>
        <!-- End of Main -->
{% endblock content %}
