<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- Start of Sidebar Content -->
     <div class="sidebar-content scrollable">
        <!-- Start of Sticky Sidebar -->
        <div class="sticky-sidebar">
            <div class="filter-actions">
                <label>فیلتر : </label>
                <a href="#" class="btn btn-dark btn-link filter-clean">حذف همه </a>
            </div>
            <!-- Start of Collapsible widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>تمام دسته بندیها</label></h3>
                <ul class="widget-body filter-items search-ul">
                    <li><a href="#">تجهیزات جانبی </a></li>
                    <li><a href="#">کودکانه </a></li>
                    <li><a href="#">زیبایی </a></li>
                    <li><a href="#">تزیین </a></li>
                    <li><a href="#">الکترونیک </a></li>
                    <li><a href="#">مدل </a></li>
                    <li><a href="#">غذا </a></li>
                    <li><a href="#">مبلمان </a></li>
                    <li><a href="#">آشپزخانه </a></li>
                    <li><a href="#">پزشکی </a></li>
                    <li><a href="#">ورزشی </a></li>
                    <li><a href="#">ساعت مچی </a></li>
                </ul>
            </div>
            <!-- End of Collapsible Widget -->

            <!-- Start of Collapsible Widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>قیمت </label></h3>
                <div class="widget-body">
                    <ul class="filter-items search-ul">
                        <li><a href="#">0 تومان  - 100000 تومان</a></li>
                        <li><a href="#">100000 تومان - 200000 تومان</a></li>
                        <li><a href="#">200000 تومان - 300000 تومان</a></li>
                        <li><a href="#">300000 تومان - 590000 تومان</a></li>
                        <li><a href="#">590000 تومان +</a></li>
                    </ul>
                    <form class="price-range">
                        <input type="number" name="min_price" class="min_price text-center"
                            placeholder="حداقل به تومان"><span class="delimiter">-</span><input
                            type="number" name="max_price" class="max_price text-center"
                            placeholder="حداکثر به تومان"><a href="#"
                            class="btn btn-primary btn-rounded">برو </a>
                    </form>
                </div>
            </div>
            <!-- End of Collapsible Widget -->

            <!-- Start of Collapsible Widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>سایز </label></h3>
                <ul class="widget-body filter-items item-check mt-1">
                    <li><a href="#">خیلی بزرگ </a></li>
                    <li><a href="#">بزرگ </a></li>
                    <li><a href="#">متوسط </a></li>
                    <li><a href="#">کوچک </a></li>
                </ul>
            </div>
            <!-- End of Collapsible Widget -->

            <!-- Start of Collapsible Widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>برند </label></h3>
                <ul class="widget-body filter-items item-check mt-1">
                    <li><a href="#">گروه خودروهای شیک</a></li>
                    <li><a href="#">علف سبز </a></li>
                    <li><a href="#">نود Js</a></li>
                    <li><a href="#">NS8</a></li>
                    <li><a href="#">قرمز </a></li>
                    <li><a href="#">Skysuite تکنولوژی </a></li>
                    <li><a href="#">استرلینگ</a></li>
                </ul>
            </div>
            <!-- End of Collapsible Widget -->

            <!-- Start of Collapsible Widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>رنگ </label></h3>
                <ul class="widget-body filter-items item-check">
                    <li><a href="#">مشکی </a></li>
                    <li><a href="#">آبی </a></li>
                    <li><a href="#">قهوه ای </a></li>
                    <li><a href="#">سبز </a></li>
                    <li><a href="#">خاکستری </a></li>
                    <li><a href="#">نارنجی </a></li>
                    <li><a href="#">زرد </a></li>
                </ul>
            </div>
            <!-- End of Collapsible Widget -->
        </div>
        <!-- End of Sidebar Content -->
    
</body>
</html>