{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="وولـمارت - قالب چند منظوره و مارکت پلیس html">
    <meta name="author" content="JafarAbbasi">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/icons/favicon.png' %}">

    <!-- WebFont.js -->
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2"
            crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/fonts/wolmart87d5.ttf?png09e' %}" as="font" type="font/ttf" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/magnific-popup/magnific-popup.min.css' %}">

{#    <!-- Default CSS -->#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo2.min.css' %}">#}
    {% block head %}
    {% endblock head %}
    <title>{% block title %}
    {% endblock title %}</title>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block sidebar %} {% endblock sidebar %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}

    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/vendor/floating-parallax/parallax.min.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static 'assets/js/main.min.js' %}"></script>
</body>
</html>
